.privacy-policy-section {
  background-color: #f7f7f7;
  min-height: 100%;
}

.privacy-policy-section-1 > h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  padding: 20px;
}

.privacy-policy-section-1 > p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 20px;
  text-align: justify;
  font-weight: 400;
}

.privacy-policy-section-2 {
  padding: 10px;
}

.privacy-policy-section-2 > ul > li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.privacy-policy-section-2 > Ul > p {
  text-align: justify;
  margin-right: 10px;
  font-size: 15px;
}

@media (max-width: 767px) {
  .privacy-policy-section-1 > h1 {
    font-size: 28px;
    padding: 10px;
  }

  .privacy-policy-section-1 > p {
    font-size: 14px;
    padding: 10px;
  }

  .privacy-policy-section-2 > ul > li {
    font-size: 16px;
  }

  .privacy-policy-section-2 > p {
    font-size: 14px;
  }
}
