.footer-container {
  background-color: #252525;
  padding: 20px 5px 0px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-container {
  flex: 0 0 auto;
}

.logo-img {
  width: 270px;
  height: 110px;
  padding: 10px;
}

.section-footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.section-footer > ul > li {
  color: white;
  margin-left: 0;
  margin-bottom: 5px;
  list-style: none;
  margin-top: 0px;
  font-size: 15px;
  font-weight: 100;
  margin-right: 100px;
}

.section-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
  margin-left: 30px;
  line-height: 2;
}

.section-footer > a {
  color: inherit;
  text-decoration: none;
}

.section-footer > ul > li:hover {
  color: #f19100;
}

.section-footer-bottom {
  color: #8f8f8f;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}

.icon-footer {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.icon-footer:hover {
  color: #f19100;
}

@media (max-width: 768px) {
  .footer-section {
    flex-wrap: wrap;
  }

  .logo-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .logo-img {
    width: 200px;
    height: auto;
    padding: 5px;
  }

  .section-footer {
    flex-basis: 50%;
    margin-bottom: 10px;
  }

  .section-footer-bottom {
    flex-basis: 100%;
  }

  .section-footer > ul > li {
    margin-right: 0;
  }
}
