@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

body {
  cursor: pointer;
}
.login-section {
  background-color: #f7f7f7;
  height: 645px;
}

.logo-ngekos {
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.logo-login {
  width: 400px;
  margin-top: 100px;
  padding: 15px;
}

.section-login-1 {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.section-login-2 {
  display: flex;
  justify-content: space-around;
}

.section-login-2 > img {
  margin-left: 200px;
}

.section-login-2 > div {
  margin-right: 200px;
}
.login-card {
  background-color: #f19100;
  width: 300px;
  height: 460px;
  padding: 10px;
  border-radius: 25px;
  margin-top: 30px;
}

.label-login {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.input-login {
  width: 230px;
  background-color: #f19100;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.input-field {
  padding: 50px 0px 0px 20px;
  padding-right: 30px;
  padding-left: 25px;
}

.login-button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  background-color: #f8dc4c;
  width: 200px;
  height: 30px;
  border-style: none;
  border-radius: 20px;
  box-shadow: gray 1px 1px 2px 0px;
}

.login-button:hover {
  background-color: #dcbc15;
  animation-duration: 0s;
}

.register-forgot-account {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.button-login-with-socmed {
  width: 210px;
  height: 40px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.button-login-with-socmed:hover {
  background-color: gainsboro;
}

.login-socmed {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 3px;
  margin-top: 15px;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .login-section {
    height: auto;
  }

  .logo-ngekos {
    width: 150px;
  }

  .logo-login {
    width: 300px;
    margin-top: 50px;
  }

  .section-login-2 {
    flex-direction: column;
    align-items: center;
  }

  .section-login-2 > img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .section-login-2 > div {
    margin-right: 0;
  }

  .login-card {
    width: 250px;
    height: auto;
  }

  .input-login {
    width: 200px;
  }

  .login-button {
    width: 180px;
  }
}
